* {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.app {
  text-align: center;
}

/* Scroll container styling */

.container {
  scroll-behavior: smooth;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  overflow-x: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.container img {
  margin: 15px;
  margin-bottom: 30px;
  border-radius: 25px;
  filter: drop-shadow(16px 16px 10px grey);
}

.spacer {
  min-height: 100px;
}

/* Text overlay styling */

.centered {
  position: absolute;
  align-items: center;
  top: 50%;
  text-align: center;
}

.img-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  position: absolute;
  transform: rotate(45deg);
}
